{:deps
 {nuid/utils
  {:git/url "git@github.com:nuid/utils",
   :sha "b8b6e87974cf9a6fdf5958f38e3b1f8af55035f5"},
  org.clojure/clojurescript {:mvn/version "1.10.520"},
  com.cognitect/transit-cljs {:mvn/version "0.8.256"},
  com.cognitect/transit-clj {:mvn/version "0.8.313"},
  org.clojure/clojure {:mvn/version "1.10.0"}},
 :aliases
 {:repl
  {:extra-deps
   {nuid/repl
    {:git/url "git@github.com:nuid/repl",
     :sha "0e0785539a9997e4c7ff9f2845c631bea0575fa0"}}}},
 :paths ["src"]}
