{:deps
 {nuid/bytes
  {:git/url "https://github.com/nuid/bytes.git",
   :sha "3c3e37b94bb9161cc55986e3f5c22030c7f6f435"},
  com.cognitect/transit-clj {:mvn/version "1.0.324"},
  org.clojure/clojure {:mvn/version "1.10.1"}},
 :aliases
 {:cljs
  {:extra-deps
   {com.cognitect/transit-cljs {:mvn/version "0.8.264"},
    thheller/shadow-cljs {:mvn/version "2.11.23"}}}},
 :paths ["src"]}
